* {
    margin: 0;
    padding: 0;
    font-family: 'Calisto MT', sans-serif;
    box-sizing: border-box;
}

body {
    background: #070c3d;
}

.app {
    background: #faf2d4;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #070c3d;
    font-weight: 600;
    border-bottom: 1px solid #070c3d;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Ringbearer Medium", sans-serif;
}

.quiz {
    padding: 20px 0;
}

.quiz h2, #answer-text {
    font-size: 18px;
    color: #070c3d;
    font-weight: 600;
}

.difficulty1 {
    background: #9aeabc;
}

.difficulty2 {
    background: #ffd093;
}

.difficulty3 {
    background: #ff9393;
}





.difficulty1, .difficulty2, .difficulty3 {
    color: #070c3d;
    font-weight: 500;
    width: 100%;
    border: 1px solid #070c3d;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
}

.difficulty1:hover{
    background: #1e8048;
    color: #faf2d4;
}

@media only screen and (max-width: 400px) {
    .app {
        width: 350px;
    }
    .btn, #question {
        text-align: center;
    }
}